.section {
    background-color: white;
    margin: 0;
}

.section__header {
    padding: 20px;
    border-bottom: solid 2px;
    border-bottom-color: #eee;
    margin: 0;
}

.section__container {
    padding: 20px;
}