.tasksList {

    display: grid;
    grid-gap: 1px;
}

.tasksList__header {
    padding: 5px 5px 0px 20px;
    background-color: white;

}

.tasksList__unorderedList {
    padding: 30px 15px;
    background-color: white;
}